<body>
  <dialog open>
    <button (click)="selectone(2)">x</button>
    <br />
    <span>Titel</span> <br />
    <textarea
      id="title"
      rows="1"
      cols="50"
      autocapitalize="off"
      spellcheck="false"
      >{{ item?.Title }}</textarea
    >
    <br />
    <span>Beschreibung</span> <br />
    <textarea
      id="description"
      rows="4"
      cols="50"
      autocapitalize="off"
      spellcheck="false"
      >{{ item?.Description }}</textarea
    >
    <br />
    <span>Status:</span>
    <br />
    <select name="assigned" id="bearbeiter">
      <option value="New">New</option>
      <option value="Active">Active</option>
      <option value="InTest">In Test</option>
      <option value="Closed">Closed</option>
    </select>
    <br />
    <span>Status:</span>
    <br />
    <select name="Priorität" id="prio">
      Priorität
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </dialog>
</body>
