#KanbanTasks {
  background-color: #ffa500;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 20px;
  padding: 5px;
}

p {
  font-weight: bold;
}
