body {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: auto;
}

router-outlet {
  height: 100%;
}
h1 {
  color: #333;
}

#user {
  color: white;
  font-weight: bold;
  text-align: center;
}
