<body>
  <h1>UserManagement</h1>
  <table>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
    </tr>
    <tr>
      <td>
        @for ( name of $user.allFirstnames(); track $index ) {
        <ng-container (click)="$user.setAsSelected($index)">
          {{ name }}</ng-container
        >
        <br />}
      </td>
      <td>
        @for ( name of $user.allLastnames(); track $index ) {
        <ng-container (click)="$user.setAsSelected($index)">
          {{ name }}</ng-container
        >
        <br />
        }
      </td>
    </tr>
  </table>
</body>
