<body>
  <h1>KebabBoard</h1>
  <table>
    <tr>
      <th>New</th>
      <th>Active</th>
      <th>InTest</th>
      <th>Closed</th>
    </tr>
    <tr>
      <td>
        @for ( item of items ; track $index ) {
        <pit-kanban-item [item]="item" *ngIf="item.status === KanbanState.New">
        </pit-kanban-item>
        } @empty { Hier ist nix }
      </td>
      <td>
        @for ( item of items ; track $index ) {
        <pit-kanban-item
          [item]="item"
          *ngIf="item.status === KanbanState.Active"
        >
        </pit-kanban-item>
        } @empty { Hier ist nix }
      </td>
      <td>
        @for( item of items$| async; track item.id){
        <pit-kanban-item
          [item]="item"
          *ngIf="item.status === KanbanState.InTest"
        >
        </pit-kanban-item>
        } @empty { Hier ist nix }
      </td>
      <td>
        @for ( item of items ; track $index ) {
        <pit-kanban-item
          [item]="item"
          *ngIf="item.status === KanbanState.Closed"
        >
        </pit-kanban-item>
        } @empty { Hier ist nix }
      </td>
    </tr>
  </table>
</body>
