<body>
  <h1>KebabBoard</h1>
  <table>
    <tr>
      <th>New</th>
      <th>Active</th>
      <th>InTest</th>
      <th>Closed</th>
    </tr>
    <tr>
      <td>
        @for ( item of items ; track $index ) {
        <ng-container *ngIf="item.status === KanbanState.New"
          >{{ item.Description }} <br
        /></ng-container>
        } @empty { Hier ist nix }
      </td>
      <td>
        @for ( item of items ; track $index ) {
        <ng-container *ngIf="item.status === KanbanState.Active"
          >{{ item.Description }} <br
        /></ng-container>
        } @empty { Hier ist nix }
      </td>
      <td>
        @for( item of items$| async; track item.id){
        <ng-container *ngIf="item.status === KanbanState.InTest"
          >{{ item.Description }} <br
        /></ng-container>
        } @empty { Hier ist nix }
      </td>
      <td>
        @for ( item of items ; track $index ) {
        <ng-container *ngIf="item.status === KanbanState.Closed"
          >{{ item.Description }} <br
        /></ng-container>
        } @empty { Hier ist nix }
      </td>
    </tr>
  </table>
</body>
