:host {
  background-color: grey;
  color: black;
  background: grey;
  text-align: center;
}
body {
  background-color: gray;
}
table {
  width: 100%;
}
#Format {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
