<body>
  <h1>My Tasks</h1>
  <table id="test">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Due until</th>
    </tr>
    @for ( task of tasks$ | async ; track $index ) {
    <tr *ngIf="task.assigned === (loggedInUser$ | async)?.firstname">
      <td>
        {{ task.Title }}
      </td>
      <td>{{ task.Description }}</td>
      <td>{{ task.prio }}</td>
      <td [ngSwitch]="task.status">
        <ng-container *ngSwitchCase="KanbanState.Active">Active</ng-container>
        <ng-container *ngSwitchCase="KanbanState.Closed">Close</ng-container>
        <ng-container *ngSwitchCase="KanbanState.InTest">InTest</ng-container>
        <ng-container *ngSwitchCase="KanbanState.New">New</ng-container>
        <ng-container *ngSwitchDefault></ng-container>
      </td>
      <td>{{ task.tobeDone }}</td>
    </tr>
    } @empty { Hier ist nix }
  </table>
</body>
