<body>
  <h1>My Tasks</h1>
  <table id="test">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Due until</th>
    </tr>
    @for ( item of items$ | async ; track $index ) {
    <tr *ngIf="item.assigned === userService.selectedUser?.firstname">
      <td>
        {{ item.Title }}
      </td>
      <td>{{ item.Description }}</td>
      <td>{{ item.prio }}</td>
      <td [ngSwitch]="item.status">
        <ng-container *ngSwitchCase="KanbanState.Active">Active</ng-container>
        <ng-container *ngSwitchCase="KanbanState.Closed">Close</ng-container>
        <ng-container *ngSwitchCase="KanbanState.InTest">InTest</ng-container>
        <ng-container *ngSwitchCase="KanbanState.New">New</ng-container>
        <ng-container *ngSwitchDefault></ng-container>
      </td>
      <td>{{ item.tobeDone }}</td>
    </tr>
    } @empty { Hier ist nix }
  </table>
</body>
